<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../templateAdm.xhtml">

            <ui:define name="pagina">
                <h:form id="formCadastro">
                    <p:commandButton value="Novo" oncomplete="PF('cadastro').show()"  actionListener="#{controleAtividade.novo()}" update=":formDialogCadastro" />
                    <p:dataTable tableStyle="table-layout: auto" var="obj" value="#{controleAtividade.lista}"
                                 paginator="true"
                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" lazy="true" rows="5">
                        <p:column headerText="Id">
                            <h:outputText value="#{obj.id}"/>
                        </p:column>
                        <p:column headerText="Atividade Mestre">
                            <h:outputText value="#{obj.atividade.titulo}"/>
                        </p:column>
                        <p:column headerText="Titulo">
                            <h:outputText value="#{obj.titulo}"/>
                        </p:column>
                        <p:column headerText="Informação">
                            <h:outputText value="#{obj.informacao}"/>
                        </p:column>
                        <p:column headerText="Data Inicio" >
                            <h:outputText value="#{obj.dataInicio}" rendered="#{obj.dataInicio != null}">
                                <f:convertDateTime pattern="dd/MM/yyyy  HH:mm" type="date" dateStyle="short" timeZone="GMT-03:00"/>
                            </h:outputText>
                            <h:outputText value="" rendered="#{obj.dataInicio == null}" />
                        </p:column>
                        <p:column headerText="Data Final" >
                            <h:outputText value="#{obj.dataFinal}" rendered="#{obj.dataFinal != null}">
                                <f:convertDateTime pattern="dd/MM/yyyy  HH:mm" type="date" dateStyle="short" timeZone="GMT-03:00"/>
                            </h:outputText>
                            <h:outputText value="" rendered="#{obj.dataFinal == null}" />
                        </p:column>
                        <p:column headerText="Limite de Inscrição" >
                            <h:outputText value="#{obj.dataLimiteInscricao}" rendered="#{obj.dataLimiteInscricao != null}">
                                <f:convertDateTime pattern="dd/MM/yyyy" type="date" dateStyle="short"/>
                            </h:outputText>
                            <h:outputText value="" rendered="#{obj.dataLimiteInscricao == null}" />
                        </p:column>

                        <p:column headerText="Carga Horaria">
                            <h:outputText value="#{obj.cargaHoraria}"/>
                        </p:column>
                        <p:column headerText="Segmento">
                            <h:outputText value="#{obj.segmento.descricao}"/>
                        </p:column>
                        <p:column headerText="Tipo Atividade">
                            <h:outputText value="#{obj.tipoAtividade.descricao}"/>
                        </p:column>
                        <p:column headerText="Local">
                            <h:outputText value="#{obj.local.descricao}"/>
                        </p:column>


                        <p:column>
                            <p:commandButton value="Alterar" 
                                             oncomplete="PF('cadastro').show()" 
                                             update=":formDialogCadastro">
                                <f:setPropertyActionListener value="#{obj}" 
                                                             target="#{controleAtividade.objAtividade}"/>
                            </p:commandButton>
                        </p:column>
                        <p:column>
                            <p:commandButton id="btExcluir" value="Excluir"  actionListener="#{controleAtividade.excluir(obj)}" update="@form" >
                                <p:confirm header="Confirmação" message="Deseja excluir" icon="ui-icon-alert"/>
                            </p:commandButton>
                        </p:column>

                    </p:dataTable>

                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">    
                        <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"/>
                        <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"/>
                    </p:confirmDialog>


                </h:form>


                <p:dialog widgetVar="cadastro" 
                          header="Cadastro de Atividades"  
                          modal="true" 
                          appendTo="@(body)" 
                          closeOnEscape="true" 
                          resizable="false">

                    <h:form id="formDialogCadastro" >
                        <!--<p:message for="local" />-->
                        <h:panelGrid id="grid"  columns="2" width="100%">
                            <h:outputLabel for="atividadeMestre"  style="font-weight:bold" value="Atividade Mestre "/>                    
                            <p:autoComplete id="atividadeMestre" value="#{controleAtividade.objAtividade.atividade}" completeMethod="#{controleAtividade.completeAtividade}"
                                            var="atividade" itemLabel="#{atividade.titulo}" itemValue="#{atividade}" converter="conversorAtividade" forceSelection="true" dropdown="true" required="true" requiredMessage="Campo obrigatorio" />

                            <h:outputLabel for="titulo"  style="font-weight:bold" value="Titulo "/>                    
                            <p:inputText id="titulo" value="#{controleAtividade.objAtividade.titulo}" required="true" requiredMessage="Campo obrigatorio" />

                            <h:outputLabel for="informacao"  style="font-weight:bold" value="Informação "/>                    
                            <p:inputText id="informacao" value="#{controleAtividade.objAtividade.informacao}" required="true" requiredMessage="Campo obrigatorio" />

                            <h:outputLabel for="dataInicio"  style="font-weight:bold" value="Data Inicio "/>                    
                            <p:calendar id="dataInicio" value="#{controleAtividade.objAtividade.dataInicio}" pattern="dd/MM/yyyy HH:mm:ss" required="true" requiredMessage="Campo obrigatorio"/>

                            <h:outputLabel for="dataFinala"  style="font-weight:bold" value="Data Final "/>                    
                            <p:calendar id="dataFinala" value="#{controleAtividade.objAtividade.dataFinal}" pattern="dd/MM/yyyy HH:mm:ss" required="true" requiredMessage="Campo obrigatorio"/>

                            <h:outputLabel for="dataLimite"  style="font-weight:bold" value="Limite Inscrição "/>                    
                            <p:calendar id="dataLimite" value="#{controleAtividade.objAtividade.dataLimiteInscricao}" pattern="dd/MM/yyyy" showOn="button" required="true" requiredMessage="Campo obrigatorio" />

                            <h:outputLabel for="cargaHoraria"  style="font-weight:bold" value="Carga Horaria "/>                    
                            <p:inputText id="cargaHoraria" value="#{controleAtividade.objAtividade.cargaHoraria}" required="true" requiredMessage="Campo obrigatorio" />

                            <h:outputLabel for="segmento" style="font-weight:bold" value="Segmento "/>
                            <p:autoComplete id="segmento" value="#{controleAtividade.objAtividade.segmento}" completeMethod="#{controleSegmento.completeSegmento}"
                                            var="segmento" itemLabel="#{segmento.descricao}" itemValue="#{segmento}" converter="conversorSegmento" forceSelection="true" dropdown="true" required="true" requiredMessage="Campo obrigatorio" />

                            <h:outputLabel for="tipoAtividade"  style="font-weight:bold" value="Tipo Atividade "/>                    
                            <p:autoComplete id="tipoAtividade" value="#{controleAtividade.objAtividade.tipoAtividade}" completeMethod="#{controleTiposAtividades.completeSegmento}"
                                            var="tipoAtividade" itemLabel="#{tipoAtividade.descricao}" itemValue="#{tipoAtividade}" converter="conversorTipoAtividade" forceSelection="true" dropdown="true" required="true" requiredMessage="Campo obrigatorio" />

                            <h:outputLabel for="local"  style="font-weight:bold" value="Local "/>                    
                            <p:autoComplete id="local" value="#{controleAtividade.objAtividade.local}" completeMethod="#{controleLocal.completeLocal}"
                                            var="local" itemLabel="#{local.descricao}" itemValue="#{local}" converter="conversorLocal" forceSelection="true" dropdown="true" required="true" requiredMessage="Campo obrigatorio" />

                        </h:panelGrid>
                        <p:commandButton value="Salvar" 
                                         validateClient="true"
                                         ajax="false"
                                         oncomplete="PF('cadastro').hide()"
                                         action="#{controleAtividade.inserir()}"
                                         update=":formCadastro"
                                         icon="ui-icon-disk"/>
                    </h:form>
                </p:dialog>

            </ui:define>

        </ui:composition>

    </body>
</html>
