<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../templateAdm.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="pagina">
        <h:form id="formCadastro">
            <p:commandButton value="Novo" oncomplete="PF('cadastro').show()"  actionListener="#{controleAvaliador.novo()}" update=":formDialogCadastro"/>

            <p:dataTable var="obj" value="#{controleAvaliador.listaAvaliador}"
                         paginator="true"
                         paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15" lazy="true">
                <p:column headerText="Id">
                    <h:outputText value="#{obj.id}"/>

                </p:column>
                <p:column headerText="Nome">
                    <h:outputText value="#{obj.nome}"/>
                </p:column>
                <p:column>
                    <p:commandButton value="Alterar" 
                                     oncomplete="PF('cadastro').show()" 
                                     update=":formDialogCadastro"
                                     >
                        <f:setPropertyActionListener value="#{obj}" 
                                                     target="#{controleAvaliador.objetoAvaliador}"/>
                    </p:commandButton>
                </p:column>
                <p:column>
                    <p:commandButton value="Excluir"  actionListener="#{controleAvaliador.excluir(obj)}" update="@form" >
                        <p:confirm header="Confirmação" message="Deseja excluir" icon="ui-icon-alert"/>
                    </p:commandButton>
                </p:column>

            </p:dataTable>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"/>
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"/>
            </p:confirmDialog>

        </h:form>


        <p:dialog widgetVar="cadastro" header="Cadastro de Local"  modal="true" appendTo="@(body)" >
            <h:form id="formDialogCadastro">
                <p:messages  />
                <h:panelGrid id="grid" columns="2">
                    <h:outputLabel   style="font-weight:bold" value="Nome:"/>                    
                    <p:inputText  value="#{controleAvaliador.objetoAvaliador.nome}" required="true" requiredMessage="Campo obrigatorio" />
                    <h:outputLabel   style="font-weight:bold" value="CPF"/>                    
                    <p:inputMask value="#{controleAvaliador.objetoAvaliador.cpf}" mask="999.999.999-99" required="true"/>
                    <h:outputLabel   style="font-weight:bold" value="Data Nascimento"/>                    
                    <p:calendar id="dtNasc" value="#{controleAvaliador.objetoAvaliador.dataNasc}" showOn="button" required="true"/>

                    <h:outputLabel   style="font-weight:bold" value="Telefone"/>                    
                    <p:inputMask  value="#{controleAvaliador.objetoAvaliador.telefone}" mask="(99)9999-9999"/>

                    <h:outputLabel   style="font-weight:bold" value="E-mail:"/>                    
                    <p:inputText  value="#{controleAvaliador.objetoAvaliador.email}" required="true" requiredMessage="Campo obrigatorio" />
                    <p:outputLabel for="senha" value="Senha: " />
                    <p:password id="senha" value="#{controleAvaliador.objetoAvaliador.senha}" feedback="true" match="senha2" required="true" />
                    <p:outputLabel for="senha2" value="Confirme: " />
                    <p:password id="senha2" value="#{controleAvaliador.objetoAvaliador.senha}" required="true" />

                    <h:outputLabel   style="font-weight:bold" value="Segmento:"/>      
                    <p:autoComplete value="#{controleAvaliador.objetoAvaliador.segmento}" 
                                    completeMethod="#{controleAvaliador.completaSegmento}"
                                    var="segmento" 
                                    itemLabel="#{segmento.descricao}" 
                                    itemValue="#{segmento}" 
                                    converter="converter" 
                                    forceSelection="true" 
                                    dropdown="true"/>


                </h:panelGrid>
                <p:commandButton value="Salvar" 
                                 validateClient="true"
                                 ajax="false"
                                 oncomplete="PF('cadastro').hide()"
                                 action="#{controleAvaliador.inserir()}"
                                 update=":formCadastro"
                                 icon="ui-icon-disk"
                                 style="width: 100%"
                                 />
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
