<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../templateAdm.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"

                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="pagina">
        <h:form id="formCadastro">
            <p:commandButton value="Novo" oncomplete="PF('cadastro').show()"  actionListener="#{controleLocal.novo()}" update=":formDialogCadastro"/>

            <p:dataTable var="obj" value="#{controleLocal.listaLocal}"
                         paginator="true"
                         paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15" lazy="true">
                <p:column headerText="Id">
                    <h:outputText value="#{obj.id}"/>

                </p:column>
                <p:column headerText="Local">
                    <h:outputText value="#{obj.descricao}"/>
                </p:column>
                <p:column>
                    <p:commandButton value="Alterar" 
                                     oncomplete="PF('cadastro').show()" 
                                     update=":formDialogCadastro"
                                     >
                        <f:setPropertyActionListener value="#{obj}" 
                                                     target="#{controleLocal.objetoLocal}"/>
                    </p:commandButton>
                </p:column>
                <p:column>
                    <p:commandButton value="Excluir"  actionListener="#{controleLocal.excluir(obj)}" update="@form" >
                        <p:confirm header="Confirmação" message="Deseja excluir" icon="ui-icon-alert"/>
                    </p:commandButton>
                </p:column>

            </p:dataTable>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"/>
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no"/>
            </p:confirmDialog>

        </h:form>


        <p:dialog widgetVar="cadastro" header="Cadastro de Local"  modal="true" appendTo="@(body)" >
            <h:form id="formDialogCadastro">
                <p:message for="local" />
                <h:panelGrid id="grid" columns="3">
                    <h:outputLabel for="local"  style="font-weight:bold" value="Local"/>                    
                    <p:inputText id="local" value="#{controleLocal.objetoLocal.descricao}" required="true" requiredMessage="Campo obrigatorio" />




                </h:panelGrid>
                <p:commandButton value="Salvar" 
                                 validateClient="true"
                                 ajax="false"
                                 oncomplete="PF('cadastro').hide()"
                                 action="#{controleLocal.inserir()}"
                                 update=":formCadastro"
                                 icon="ui-icon-disk"
                                 style="width: 100%"
                                 />
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
