<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="../templateAdm.xhtml">
        <ui:define name="pagina">

            <!-- PAGINA DE BOTOES DE PESQUISA E NOVO -->
            <p:outputPanel id="pnBotoes">
                <h:form id="frmBotoes">
                    <div align="center">
                        <h:panelGrid columns="4" style="margin:10px 0">
                            <p:outputLabel for="pesquisa" value="Pesquisar: " style="font-weight:bold" />
                            <p:inputText id="pesquisa" disabled="#{controleUsuarioSistema.frmCadastro}" value="#{controleUsuarioSistema.pesquisa}" size="50" />
                            <p:commandButton disabled="#{controleUsuarioSistema.frmCadastro}" value="Pesquisa" icon="ui-icon-refresh" />
                            <p:commandButton value="Novo Usuariosistema " rendered="#{controleUsuarioSistema.frmLista}" update=":pnCadastroUsuariosistema :pnListaUsuariosistema :pnBotoes" actionListener="#{controleUsuarioSistema.novoRegistro}">
                                <f:setPropertyActionListener value="#{true}" target="#{controleUsuarioSistema.frmCadastro}" />
                                <f:setPropertyActionListener value="#{false}" target="#{controleUsuarioSistema.frmLista}" />
                            </p:commandButton>
                            <p:commandButton value="Voltar" rendered="#{controleUsuarioSistema.frmCadastro}" update=":pnCadastroUsuariosistema :pnListaUsuariosistema :pnBotoes">
                                <f:setPropertyActionListener value="false" target="#{controleUsuarioSistema.frmCadastro}" />
                                <f:setPropertyActionListener value="true" target="#{controleUsuarioSistema.frmLista}" />
                            </p:commandButton>
                        </h:panelGrid>
                    </div>
                </h:form>

            </p:outputPanel>
            <!-- 	PAGINA DE LISTA E PESQUISA -->
            <p:outputPanel id="pnListaUsuariosistema">
                <h:form id="frmListaUsuariosistema" rendered="#{controleUsuarioSistema.frmLista}">
                    <p:dataTable id="dtUsuariosistema" var="obj" value="#{controleUsuarioSistema.listaUsuarioSistema}" emptyMessage="Sem registros cadastrados" paginator="true" paginatorPosition="bottom" rows="10">
                        <f:facet name="header">
                            Usuariosistema Cadastrados
                        </f:facet>
                        <p:column headerText="Nome">
                            <h:outputText id="nome" value="#{obj.nome}" />
                        </p:column>
                        <p:column headerText="Data de Nascimento">
                            <h:outputText id="dtNasc" value="#{obj.dtNasc}" >
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="E-mail">
                            <h:outputText id="email" value="#{obj.email}" />
                        </p:column>
                        <p:column headerText="Telefone">
                            <h:outputText id="telefone" value="#{obj.telefone}" />
                        </p:column>

                        <!-- 	BOTAO ALTERAR -->
                        <p:column width="5%">
                            <p:commandButton id="btAltera" icon="ui-icon-arrowrefresh-1-w" update=":pnCadastroUsuariosistema :pnListaUsuariosistema :pnBotoes">
                                <f:setPropertyActionListener value="#{obj}" target="#{controleUsuarioSistema.usuarioSistema}" />
                                <f:setPropertyActionListener value="true" target="#{controleUsuarioSistema.frmCadastro}" />
                                <f:setPropertyActionListener value="false" target="#{controleUsuarioSistema.frmLista}" />
                            </p:commandButton>
                        </p:column>

                        <!-- 	BOTAO EXCLUIR -->
                        <p:column width="5%">
                            <p:column width="5%">
                                <p:commandButton id="btExclui" actionListener="#{controleUsuarioSistema.excluir(obj)}" icon="ui-icon-trash" update=":frmListaUsuariosistema">
                                    <p:confirm header="Confirmar" message="Deseja realmente excluir?" icon="ui-icon-info" />
                                </p:commandButton>
                            </p:column>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:outputPanel>

            <!-- PAGINA DE CADASTRO -->
            <p:outputPanel id="pnCadastroUsuariosistema" >
                <h:form id="frmCadastroUsuariosistema" rendered="#{controleUsuarioSistema.frmCadastro}">
                    <div align="center">
                       <p:growl autoUpdate="true" showDetail="false" life="5000"/>
                        <fieldset>
                            <legend>Cadastro de Usuariosistema</legend>
                            <p:panelGrid columns="2">
                                <p:outputLabel for="id" value="Código: " />
                                <p:inputText id="id" value="#{controleUsuarioSistema.usuarioSistema.id}" disabled="true" />
                                <p:outputLabel for="nome" value="Nome: " />
                                <p:inputText id="nome" value="#{controleUsuarioSistema.usuarioSistema.nome}" required="true" requiredMessage="Nome é obrigatorio"/>
                                <p:outputLabel for="cpf" value="CPF: " />
                                <p:inputMask id="cpf" value="#{controleUsuarioSistema.usuarioSistema.cpf}" mask="999.999.999-99" required="true"/>
                                <p:outputLabel for="dtNasc" value="Data de Nascimento: " />
                                <p:calendar id="dtNasc" value="#{controleUsuarioSistema.usuarioSistema.dtNasc}" showOn="button" required="true"/>
                                <p:outputLabel for="email" value="E-mail: " />
                                <p:inputText id="email" value="#{controleUsuarioSistema.usuarioSistema.email}" required="true"/>
                                <p:outputLabel for="telefone" value="Telefone: " />
                                <p:inputMask id="telefone" value="#{controleUsuarioSistema.usuarioSistema.telefone}" mask="(99) 9999-9999" required="true"/>
                                <p:outputLabel for="senha" value="Senha: " />
                                <p:password id="senha" value="#{controleUsuarioSistema.usuarioSistema.senha}" feedback="true" match="senha2" required="true" />
                                <p:outputLabel for="senha2" value="Confirme: " />
                                <p:password id="senha2" value="#{controleUsuarioSistema.usuarioSistema.senha}" required="true" />
                                <p:outputLabel for="permissao" value="Permissão: " />
                                <p:selectOneMenu id="permissao" value="#{controleUsuarioSistema.usuarioSistema.permissao}" style="width:100%" required="true">
                                    <f:selectItem itemLabel="Administrador" itemValue="A" />
                                    <f:selectItem itemLabel="Avaliador" itemValue="V" />
                                </p:selectOneMenu>
                            </p:panelGrid>
                            <p:commandButton value="Salvar" actionListener="#{controleUsuarioSistema.salvarAlterar}" update=":pnListaUsuariosistema :pnCadastroUsuariosistema :pnBotoes">
                                <f:setPropertyActionListener value="false" target="#{controleUsuarioSistema.frmCadastro}" />
                                <f:setPropertyActionListener value="true" target="#{controleUsuarioSistema.frmLista}" />
                            </p:commandButton>
                        </fieldset>
                    </div>
                </h:form>
            </p:outputPanel>

            <!-- INCLUDE DE DIALOG -->
            <p:confirmDialog global="true">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nao" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </ui:define>
    </ui:composition>
</html>