div#cabecalho.col-md-12.col-md-offset-0.center-block{
  align-items:center;
}

div#cabecalho.col-md-12.col-md-offset-0{
  text-align:center;
}

footer#rodape{
  text-align:center;
}

div#menu{
  padding:3%;
}

ul.nav.nav-tabs{
  text-align:end;
}

div.col-md-12{
  text-align:right;
}

a{
  padding:1%;
  font-size:large;
}

i.glyphicon.glyphicon-off{
  padding:1%;
}

div#principal{
  padding-left:3%;
  padding-right:3%;
}

