<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <h:link outcome="/pages/indexAdmin.xhtml" value="Index administrador" />
        <br/>
        <h:link outcome="/pages/indexUsuario.xhtml" value="Index usuario comun" />
        <br/>
        FUTURA PAGINA DE LOGIN POHAA!!
    </h:body>
</html>

