<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//BR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>B0DYBUILDER</title>
</h:head>
<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="west" header="Menu" collapsible="false" style="min-width:16.5%;">
			<h:form>
				<p:menu>
					<p:menuitem value="Home" url="/faces/pages/indexAdmin.xhtml" />
					<p:menuitem value="Logout" url="/faces/index.xhtml" />
					<p:submenu label="Cadastros">
						<p:menuitem value="Evento" url="#" />
						<p:menuitem value="Segmento" url="/faces/pages/segmento.xhtml" />
						<p:menuitem value="Local" url="/faces/pages/local.xhtml" />
						<p:menuitem value="Tipo Atividade" url="#" />
						<p:menuitem value="Usuario do Sistema" url="/faces/pages/usuarioSistema.xhtml" />
					</p:submenu>
					<p:submenu label="Relatório">
						<p:menuitem value="Certificados" url="#" />
						<p:menuitem value="Lista de Atividade" url="#" />
						<p:menuitem value="Lista de Participantes" url="#" />
					</p:submenu>
				</p:menu>
			</h:form>
			<ui:insert name="menu"></ui:insert>
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<ui:insert name="pagina"></ui:insert>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
