<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/tableLayout.css"/>
        <title>Sistema de Eventos- Usuario </title>
    </h:head>

    <h:body><center>
            <div class="wrapper">


                <table cellspacing="10px">
                    <tr>
                        <td id="top" style="">
                            <ui:insert name="top" >
                                <br/><br/>  
                                <center>

                                    <img src="http://socursos.net/wp-content/uploads/2013/06/ifpr-pr.jpg" style="height: 100px; " /><br/><br/>
                                </center>

                                <b:navBar brand="Usuario do Sistema" inverse="true" brandHref="templateUsuario.xhtml">

                                    <b:navbarLinks>
                                        <b:navLink value="Dados do cadastro" href="#"></b:navLink>
                                        <b:navLink value="Atividades" href="#"></b:navLink>
                                        <b:navLink value="Emissão de certificado" href="#"></b:navLink>
                                        <b:navLink value="Submeter Trabalho" href="/ProjetoIntegrador/faces/pages/submeterTrabalho.xhtml"></b:navLink>
                                        <b:navLink value="Consultar Subimissões" href="#"></b:navLink>
                                    </b:navbarLinks>
                                </b:navBar>

                                <br/><br/>
                            </ui:insert>
                        </td>
                    </tr>
                    <tr>
                        <td id="content">
                            <ui:insert name="pagina"></ui:insert>
                        </td>
                    </tr>
                </table> 

            </div>
        </center>

    </h:body>

</html>
