<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//BR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>template</title>
        <link rel="stylesheet" href="./../../assets/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./../../assets/css/styles.css"/>
        <link rel="stylesheet" href="./../../assets/css/untitled.css"/>
    </h:head>

    <h:body>
        <div id="principal">
            <div class="col-md-12"><a href="#">Login</a><i class="glyphicon glyphicon-off"></i></div>
            <div class="col-md-12 col-md-offset-0" id="cabecalho"><img src="./../../assets/img/banner.jpg" width="300px" height="150px" id="banner"/></div>
            <div class="col-md-2">
                <div id="menu">
                    <a href="./../pages/atividade.xhtml" ><button  class="btn btn-success btn-block" type="button">Atividade</button></a>
                    <a href="./../pages/segmento.xhtml"><button  class="btn btn-success btn-block" type="button">Segmento</button></a>
                    <a href="./../pages/local.xhtml"><button class="btn btn-success btn-block" type="button">Local</button></a>
                    <a href="./../pages/avaliador.xhtml"><button class="btn btn-success btn-block" type="button">Avaliador</button></a>
                    <a href="./"><button class="btn btn-success btn-block" type="button">Ministrante</button></a>
                    <a href="./../pages/tipoAtividade.xhtml"><button class="btn btn-success btn-block" type="button">Tipo Atividade</button></a>
                </div>
            </div>
            <div class="col-md-10">
                <ui:insert name="pagina"></ui:insert>
            </div>
            <div class="col-md-12">
                <footer id="rodape">
                    <p class="help-block">IFPR - Instituto Federal do Paraná - Sistema de Controle de Eventos</p>
                </footer>
            </div>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </h:body>

</html>